<h1>WATER TIMES</h1>

<form method="POST" action="/auth/login">
	<div class="form-group">
		<input type="email" name="email" placeholder="email">
		<input type="password" name="password" placeholder="password">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>