<div id="login-header">
	<h1 class="text-center">WATER TIMES</h1>
	<h4 class="text-center">Calculate your estimated daily water consumption!</h4>
</div>

<form method="POST" action="/auth/login">
	<div class="form-group" id="login-form">
		<input type="email" name="email" placeholder="email">
		<input type="password" name="password" placeholder="password">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>