<h1>SIGN UP HERE!</h1>
<form method="post" action="/auth/signup">
	<div class="container">
		<div class="row">
			<div class="form-group">
				<input type="text" name="firstname" placeholder="first name">
				<input type="text" name="lastname" placeholder="last name">
				<input type="email" name="email" placeholder="email">
				<input type="password" name="password" placeholder="password">
				<input type="date" name="dob" placeholder="date of birth">
				<input type="text" name="locationcity" placeholder="your city">
				<select class="form-control" name="locationstate">
					<option>CA</option>
					<option>NY</option>
					<option>WA</option>
				</select> 
			</div>
		</div>
	</div>
  <input type="submit" value="Sign Up" class="btn btn-primary">
</form>