<h1>SIGN UP HERE!</h1>
<form method="post" action="/auth/signup">
	<div class="form-group" id="signup">
		<input class="form-control" type="text" name="firstname" placeholder="first name">
		<input class="form-control" type="text" name="lastname" placeholder="last name">
		<input class="form-control" type="email" name="email" placeholder="email">
		<input class="form-control" type="password" name="password" placeholder="password">
		<input class="form-control" type="date" name="dob" placeholder="date of birth">
		<input class="form-control" type="text" name="locationcity" placeholder="your city">
		<select class="form-control" name="locationstate">
			<option>AL</option>
			<option>AK</option>
			<option>AZ</option>
			<option>AR</option>
			<option>CA</option>
			<option>CO</option>
			<option>CT</option>
			<option>DE</option>
			<option>FL</option>
			<option>GA</option>
			<option>HI</option>
			<option>ID</option>
			<option>IL</option>
			<option>IN</option>
			<option>IA</option>
			<option>KS</option>
			<option>KY</option>
			<option>LA</option>
			<option>ME</option>
			<option>MD</option>
			<option>MI</option>
			<option>MN</option>
			<option>MS</option>
			<option>MO</option>
			<option>MT</option>
			<option>NE</option>
			<option>NV</option>
			<option>NH</option>
			<option>NJ</option>
			<option>NM</option>
			<option>NY</option>
			<option>NC</option>
			<option>ND</option>
			<option>OH</option>
			<option>OK</option>
			<option>OR</option>
			<option>PA</option>
			<option>RI</option>
			<option>SC</option>
			<option>SD</option>
			<option>TN</option>
			<option>TX</option>
			<option>UT</option>
			<option>VT</option>
			<option>VA</option>
			<option>WA</option>
			<option>WV</option>
			<option>WI</option>
			<option>WY</option>
		</select> 
	</div>
	<div class="form-check">
 		<input class="form-check-input" type="checkbox" required="true">
  		<label class="form-check-label">
   			By clicking you recognize that I am not a medical professional and these are only VERY loose guidelines.
  		</label>
	</div>
  <input type="submit" value="Sign Up" class="btn btn-primary">
</form>