<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/auth/login">
    <img src="../../img/h20_1.png" width="60" height="50" alt="H2-Oh!">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
        <% if(!currentUser || !'/chart'){ %>
          <li>
            <a href="/auth/login">Login</a>
          </li>
          <li>
            <a href="/auth/signup">Sign Up</a>
          </li>
        <% } else { %>
          <li>
            <a href="/auth/logout">Logout</a>
          </li>
          <li>
          	<a id="chart-link" href="/chart">Past Drinkage</a>
          </li>
          <li>
          	<a href="/profile">Profile</a>
          </li>
        <% } %>
      </ul>
  </div>
</nav>