<h1>Articles Used for Calculations</h1>

<a href="https://www.healthline.com/nutrition/how-much-water-should-you-drink-per-day#section6">https://www.healthline.com/nutrition/how-much-water-should-you-drink-per-day#section6</a>

<a href="https://www.wunderground.com/">https://www.wunderground.com/</a>

<a href="https://www.healthline.com/health/how-much-water-should-I-drink">https://www.healthline.com/health/how-much-water-should-I-drink</a>


<h3>Calculations</h3>
<p> - If temperature of specified location is over 60°F, add 8oz. Add 8oz for each additional 10°F and 40oz if over 90°F</p>
<p> - Add 16oz for each 30 minutes of exercise</p>
<p> - Subtract water drank in units of 8oz, or one cup</p>