<h1>Articles I used for my calculations</h1>

<a href="https://www.healthline.com/nutrition/how-much-water-should-you-drink-per-day#section6">https://www.healthline.com/nutrition/how-much-water-should-you-drink-per-day#section6</a>

<a href="https://www.wunderground.com/">https://www.wunderground.com/</a>

<a href="https://www.healthline.com/health/how-much-water-should-I-drink">https://www.healthline.com/health/how-much-water-should-I-drink</a>