a {
	color: white;
	margin: 0 50px;
}

body {
	background-image: url("/img/blue_fish.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

canvas {
	width: 85%;
	height: 85%;
}

#login-form {
	margin-top: 100px;
}

#info {
	text-align: center;
}

#hasDrank {
	width: 150px;
	height: 100px;
	text-align: center;
	font-size: 50px;
}

#diff {
	width: 150px;
	height: 100px;
	text-align: center;
	font-size: 50px
}